#loginForm{
  margin-top: 200px;
  padding: 5px 15px 5px 15px;
  height:250px;
  width:400px;
  background-color: gray;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}
  h3{
    text-align: center;
  }
   #msg{
    text-align: center;
    color: red;
   }
   #buttonCenter{
    text-align: center;
   }

